/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moo+Lah+Lah&family=Playfair+Display:wght@800&family=Poppins:wght@400;500;600&display=swap');

/* 
font-family: 'Lobster', cursive;
font-family: 'Moo Lah Lah', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
    */

html{
    font-size: 10px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
:root{
    --green-1: #16a2da;
    --green-2: #1381ff;
    --lightGreen-1: #fffc5e;
    --lightGreen-2: #ffffff;
    --black-1: #16241f;
    --black-2: #251b1bfb;
    --black-3: #324358;
    --white-1: #ffffff;
}    
body{
    background-color: var(--LightGreen-2);
      overflow-x:hidden;
    /* visibility:hidden; */
}
section{
    padding: 100px 0;
}

@media only screen and (max-width: 767px) {
    section{
        padding: 50px 0;
    }
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1.8rem;
}
a{
    display: inline-block;
    text-decoration: none;
    
}
/* End Global Styles */





/* nav styles */
/* a:hover{
    color: rgba(86, 255, 19, 0.911);
} */
.nav{
    padding: 2rem 0;
}
.nav__icon,.nav__close,.nav__bgOverlay{
    display: none;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
}
.nav__list li{
    display: inline-block;
    margin: 0 1rem;
    
}
.nav__list,.nav__link{
    font-size: 1.8rem;
    font-family: 'Poppins';
    color: var(--black-2);
    padding: 0.5rem;
}
.nav__list li:hover .nav__link{
    color: rgba(206, 10, 92, 0.733);
}
.schedule__book{
    margin:1rem 15rem;
}
@media only screen and (max-width:1150px){
    .schedule__book{
        margin:0 9px;
    }
}

@media only screen and (max-width: 768px){
   .nav{
       position: relative;
   }
   .nav__icon{
       display: block;
   }
   .nav__icon svg, .nav__close svg{
       pointer-events: none;
       height: 30px;
       widht: 30px;
   }
   .nav__close{
       display:block;
       position: absolute;
       color: var(--black-1);
       right:1rem;
       top:1rem;
       cursor: pointer;
   }
   .nav__list{
       z-index: 1000;
       position: absolute;
       left:100%;
       top:0;
       height:100vh;
       width:80%;
       background:var(--lightGreen-1);
       display: flex;
       align-items: center;
       justify-content: flex-end;
       padding-right: 2rem;
       transform: translate(0%);
       overflow: hidden;
       transition: 0.3s ease-in transform;
   }
   .nav__list.show{
       transform: translate(-100%);
   }
   .nav__list li{
       display: block;
       text-align: right;
       margin-bottom: 2rem;
   }
   .nav__list a{
       font-size: 1.6rem;
   }
   .nav__bgOverlay{
       position:absolute;
       left:0;
       top:0;
       z-index:1000;
       height:100vh;
       width:100%;
       background: rgba(18,24,14,0.808);
       display:none;
   }
   .nav__bgOverlay.active{
       display:block;
   }
}
.car__logo{
    width:100px;
    height:100px;
    margin-top:-20px;
}
@media only screen and (min-width:768px){
    .car__logo{
        width:150px;
        height:150px;
    }
}
/* End Nav Styles */

/* Global Button Styles */
.btn{
    color: var(--green-1);
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
}
.primary-btn{
    color: var(--white-1);
    background:var(--green-1);

}
.btn:hover{
    background-color: rgb(199, 165, 231);
    color:rgb(19, 9, 3);
}
@media only screen and (min-width:700px){
    .btn{
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }
}

/* End Global Button Styles */

/* Start Footer Styles  */
footer{
    background: var(--lightGreen-1);
    padding-top:5rem;
    padding-bottom:2rem;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.footer__logo{
    margin-bottom: 2rem;
}
.footer__desc{
    font-size: 1.4rem;
    color: var(--black-2);
    margin-bottom:2rem;
}
.footer__socials__title{
    font-size: 1.8rem;
    color:var(--black-1);
    margin-bottom:1rem;
}
.footer__socials li{
    display: inline-block;
    margin-right: 0.5rem;
}
.footer__socials a{
    padding: 0.5rem 0.8rem;
    background-color: var(--white-1);
    border:1px solid var(--green-2);
    border-radius: 8px;
}
.footer__socials svg{
    width:20px;
    color:var(--black-2)
}
.footer__text__title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color:var(--black-1);
    font-weight: 600;
}
.footer__text a{
    font-size: 1.4rem;
    margin-bottom:0.5rem;
    color:var(--black-2);
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.2em;
}
@media only screen and (min-width: 768px){
    footer{
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    .footer__wrapper{
        flex-direction: row;
    }
    .footer__col1{
        flex:4;
        
    }
    .footer__col2, .footer__col3, footer__col4{
        flex:2
    }
    .footer__desc{
        max-width: 300px;
        font-size:1.8rem;
        margin-bottom: 2.5rem;
        
    }
    .footer__socials__title{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .footer__text__title{
        font-size:2rem;
        margin-bottom:2rem;
    }
    .footer__text a{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}
#copyright{
    padding:1rem 0;
}
.copyright__text{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
@media only screen and(min-width:768px){
    .copyright__text{
        font-size:1.6rem;
        text-align: left;
    }
}

/* Store Info Section Styles */
.storeInfo__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem;
}
.storeInfo__item{
    background-color: var(--lightGreen-1);
    padding: 20px 30px;
    text-align: center;
    border-radius: 12px;
    width: 150px;
    height:140px;
}
.storeInfo__icon{
    width:30px;
    margin:0 auto;
    margin-bottom:1.5rem;
}
.storeInfo__title{
    font-size:1.4rem;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color:var(--black-1);
}
.storeInfo__text{
    font-size: 1.4rem;
    font-family: Raleway;
    color: var(--black-2);
}
@media only screen and (min-width: 768px){
    .storeInfo__wrapper{
        gap:9rem;
    }
    .storeInfo__item{
        min-width:200px;
        padding:40px 0;
        min-height: 200px;
    }
    .storeInfo__icon{
        width:47px;
        margin-bottom:2.5rem;
    }
    .storeInfo__title{
        font-size:1.8rem;
        margin-bottom:1rem;
    }
    .footer__text{
        font-size:1.6rem;
    }
}
/* Dish Grid Styles (Top Dishes Section walla) */

.dishGrid__title{
    font-size:1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color:var(--black-1);
}
.dishGrid__wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap:1rem;
}
.dishGrid__item{
    display:flex;
    flex-direction: column;
    background-color: var(--lightGreen-1);
    padding:0.5rem;
    gap:0.5rem;
    border-radius:8px;
}
.dishGrid__item__img{
    flex:4;
}
.dishGrid__item__info{
    flex:5;
}
.dishGrid__item__img img{
    object-fit: cover;
    border-radius: 8px;
}
.dishGrid__item__title{
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 500;
    color: var(--black-1);
    margin-bottom: 0.5rem;
}
.dishGrid__item__price{
    font-size:1.1rem;
    color:var(--green-1);
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.3em;
}
@media only screen and (min-width:768px){
    .dishGrid__title{
        font-size:2.4rem;
    }
    .dishGrid__wrapper{
        grid-template-columns: repeat(auto-fit, minmax(350, 1fr));
        gap:3rem;
    }
    .dishGrid__item{
        flex-direction: row;
        padding:1.5rem;
        gap:1rem;
    }
    .dishGrid__item__title{
        font-size:2.4rem;
        margin-bottom: 1rem;
    }
    .dishGrid__item__price{
        font-size: 1.7rem;
        margin-bottom:1rem;
    }
    .top__facility{
        text-align: center;
        margin:25px;
    }
}

/* Contact Form Styles of contact.html walle ka */
#form{
    padding:5rem 0;
}
.form__title{
    font-size:1.8rem;
    color:var(--black-1);
    font-weight: 600;
}
.form__wrapper{
    padding:3rem 0;
}
.form__wrapper form{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
}
.form__group label{
    font-size:1.6rem;
    font-family: Poppins;
    color:var(--black-2);
    font-weight: 500;
}
.form__group input, .form__group textarea, .form__group select{
    width:100%;
    border: none;
    background-color: var(--lightGreen-1);
    font-size: 1.4rem;
    font-family: Raleway;
    font-weight: 600;
    padding:1.5rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    color:var(--black-2);
}
.form__group textarea{
    resize: vertical;
}
.form__wrapper button[type='submit']{
    width:max-content;
    border: none;
    padding:1rem 4rem;
    font-weight:500;
    letter-spacing: 0.1rem;
}
@media only screen and (min-width:768px){
    .form__title{
        font-size:3.6rem;
    }
    .form__wrapper{
        padding:5rem 0;
    }
    .form__wrapper form{
        grid-template-columns: 1fr 1fr;
    }
    .form__group__full{
        grid-column: 1/3;
    }
    .form__group label{
        font-size: 1.8rem;
    }
    .form__group input, .form__group textarea, .form__group select{
        font-size: 1.8rem;
        padding:2rem;
        margin-top: 1.5rem;
    }
}


















/* start menu.html styles */

/* Page Title Styles */
#page__title{
    padding-top:3rem;
    padding-bottom: 2rem;
}
.page__title__text{
    font-size: 2.2rem;
    color:var(--black-1);
}
@media only screen and (min-width:768px){
    #page__title{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .page__title__text{
        font-size:3.6rem;
    }
}

/* Our Specials Menu Title */
#ourSpecials{
    padding:0;
}
.ourSpecials__title{
    font-size: 1.8rem;
    color:var(--black-1);
    margin-bottom: 2rem;
}
.ourSpecials__wrapper{
    display:flex;
    gap:1.5rem;
    flex-direction: column;
    max-width:400px;
}
.ourSpecials__item{
    flex:1;
    display: flex;
    gap:2rem;
    background-color:var(--lightGreen-1);
    padding:1.5rem;
    border-radius: 12px;
}
.ourSpecials__item__img, .ourSpecials__item__info{
    flex:1;
}
.ourSpecials__item__img{
    border-radius: 12px;
    overflow: hidden;
}
.ourSpecials__item__img img{
    object-fit: cover;
}
.ourSpecials__item__title{
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color:var(--black-1);
    line-height: 1.2em;
}
@media only screen and (min-width:768px) {
    .ourSpecials__title{
        font-size: 2.4rem;
    }
    .ourSpecials__wrapper{
        flex-direction: row;
        gap: 2rem;
        max-width: none;
    }
    .ourSpecials__item{
        padding:3rem;
        gap:2rem;
    }
    .ourSpecials__item__title{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .ourSpecials__item__price{
        font-size:2.4rem;
        margin-bottom:1.5rem;
    }
}
@media only screen and (min-width:1100px){
    .ourSpecials__item__img{
        flex:4;
    }
    .ourSpecials__item__info{
        flex:5;
    }
}


/* End menu.html styles */






/* about.html styles */

/* our story styles */
.ourStory__wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    text-align: center;
}
.ourStory__title, .ourGoals__title{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--black-1);
    margin-bottom: 1rem;
    text-align: center;
}
.ourStory__subtitle{
    font-size: 3.4rem;
    font-weight: 600;
    color: var(--black-1);
    margin-bottom: 2rem;
}
.ourStory__text, .ourGoals__text{
    font-size: 1.4rem;
    line-height: 1.4em;
    text-align: justify;
    color: var(--black-2);
}
@media only screen and (min-width:768px){
    .ourStory__wrapper{
        flex-direction: row;
        gap:3rem;
    }
    .ourStory__img,.ourStory__info{
        flex:1;
        text-align: center;
    }
    .ourStory__title, .ourGoals__title{
        font-size: 4.8rem;
        text-align: center;
    }
    .ourStory__text, .ourGoals__text{
        font-size:1.8rem;
        max-width:800px;
    }
    .ourStory__img img{
        width:400px;
        height: 500px;
        margin-left: 55px;
        /* filter: brightness(95%); */
    }
}

/* Our Goals Styles */
.ourGoals__info{
    text-align: left;
    margin-bottom: 5rem;
}
.ourGoals__imgs__wrapper img{
    object-fit: cover;
}
.ourGoals__imgs__wrapper{
    max-width:800px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1rem;
}
.ourGoals__img1{
    grid-row: 1/3;
}
@media only screen and (min-width:768px){
    .ourGoals__info{
        text-align: center;
    }
    .ourGoals__imgs__wrapper{
        gap:2rem;
    }
    .ourGoals__text{
        margin:0 auto;
    }
}

/* End about.html styles */